
* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 3px solid rgb(95, 94, 94);
  border-radius: 10px;
}
#titre {
  text-align: center;
  font-size: 30px;
  padding-bottom: 5px;
}
#essais {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}
